<div class="container">
  <h1>FLICKR PHOTO STREAM</h1>
  <%= form_with url: static_pages_path, method: 'get' do |form| %>
    <%= form.label(:id, 'Flickr User ID') %>
    <%= form.text_field(:id)%>
    <%= form.submit 'Submit'%>
  <% end %>
</div>

<div class="container text-center">
  <% if !@user_photos.nil? %>
    <% @user_photos.each_with_index do |photo, idx| %>
      <%= image_tag("https://live.staticflickr.com/#{photo.server}/#{photo.id}_#{photo.secret}.jpg")%>
    <% end %>
  <% end %>
</div>
